#line {
    stroke: black;
    stroke-width: 1;
    min-height: 310px;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    top: 50px;
}

#timer {
    position: relative;
    top: 52%;
    left: 45%;
}

#spinner {
    position: absolute;
    border: none;
}

.stop-timer {
    animation-play-state: paused;
}

.spin-animation {
    animation: spin 60s linear infinite;
    transform-origin: inherit;
}

.buttons-container {
    width: fit-content;
    height: 72px;
    position: relative;
    left: 45%;

    &>button {
        border: none;
        background-color: inherit;
        margin: 8px;
        cursor: pointer;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}